<div class="sponsors">
    <h2>Sponsorują nas</h2>
    <div class="common-list">
      <ul>
      {{ partial "sponsor-elem.html" (dict "href" "https://www.ith.eu/" "img" "images/sponsors/ith.png" "alt" "ITH logo") }}
      {{ partial "sponsor-elem.html" (dict "href" "https://www.kru.pl/" "img" "images/sponsors/kru.png" "alt" "kru.pl logo") }}
    </div>
  
    <h2>Nasi partnerzy</h2>
    <div class="common-list">
    <ul>
        {{ partial "sponsor-elem.html" (dict "href" "https://husarion.com/" "img" "images/sponsors/husarion.svg" "alt" "husarion logo") }}
    </ul>
    </div>
  </div>
