<div
  class="rozliczenie-1-5-procent"
  style="
    background-color: #f7f2da;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 1rem;
    padding-bottom: 1px;
    margin-bottom: 2rem;
    border: 2px dashed #ffefad;
    display: none;
  "
>
  <h2>1.5% dla Hackerspace Kraków</h2>
  <p>
    Nowy rok, to dla wszystkich nowe możliwości. Dla nas także, ponieważ w tym
    roku mamy możliwość zbierania 1,5% Waszych podatków.
  </p>
  <p>
    Na co przeznaczymy pozyskane środki? Na to na co do tej pory: Utrzymanie
    lokalu, opłaty, kupno śrubek, rezystorów, filamentu do drukarek, czy
    wreszcie nowych narzędzi i wyposażenia. To wszystko jest dla Was dostępne w
    naszej siedzibie.
  </p>
  <p>
    Fundacja Hackerspace Kraków uzyskała status OPP w roku 2024 i od tego momentu mamy możliwość samodzielnie zbierać % na naszą działalność.
    <b>Co za tym idzie do PITu trzeba wprowadzić nowe dane żeby wesprzeć bezpośrednio nas w tym roku!</b>
  </p>
  <p>
    Aby przekazać nam środki wystarczy:<br />
    w polu 147. <b>Numer KRS</b> wpisać <code>0000436707</code><br />
    w polu 149. <b>Cel szczegółowy wpisać</b> <code>FUNDACJA HACKERSPACE KRAKÓW</code
    ><br /><br />
    P.S. numery pól podaliśmy dla najpopularniejszego formularza, PIT-37. Jeżeli
    rozliczasz się innym formularzem, szukaj pól o takich opisach w sekcji
    <b>Przekazanie 1,5% podatku należnego na rzecz organizacji pożytku
      publicznego (OPP)</b>
    pod koniec formularza.
  </p>
</div>


<script>
// show only between 1st of January and 30th of April
const now = new Date();
const start = new Date(now.getFullYear(), 0, 1);
const end = new Date(now.getFullYear(), 3, 30);
if (now >= start && now <= end) {
  document.querySelector('.rozliczenie-1-5-procent').style.display = 'block';
}
</script>
