<div class="sponsors">
  <h2>
    Sponsorują nas:
  </h2>
  <div class="common-list">
    <ul>
      <li>
        <a href="https://www.ith.eu/" target="_blank">
          <img src="{{ '/assets/images/sponsors/ith.png' | relative_url }}" alt="ITH logo" class="sponsors"/>
        </a>
      </li>
      <li>
        <a href="https://www.kru.pl/" target="_blank">
          <img src="{{ '/assets/images/sponsors/kru.png' | relative_url}}" alt="kru.pl logo" class="sponsors"/>
        </a>
      </li>
    </ul>
  </div>

  <h2>
    Nasi partnerzy:
  </h2>
  <div class="common-list">
    <ul>
      <li>
        <a href="https://husarion.com/" target="_blank">
          <img src="{{ '/assets/images/sponsors/husarion.png' | relative_url }}" alt="husarion logo" class="sponsors" />
        </a>
      </li>
    </ul>
  </div>
</div>
